* {
    box-sizing: border-box;
}
body{
  margin:0;
  height:100%;

  
}
.page{
   
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}
.header{
    display:grid;
    background-color: burlywood;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items:center;
    border-bottom: 0.1rem solid black;
}
.skip-link{
    left:50%;
    padding:4px;
    position: absolute;   
    top:1rem;  
    transform: translateY(-200%);
}
.skip-link:focus{
    transform: translateY(0%);
}
.iconarea{
    height: 100px;
    grid-column: Span 1;

}

.header-title{
    display: flex;
    justify-content: center;
    grid-column: Span 1;
}
.menu-button{
    grid-column: Span 1;
margin-right: 1rem;
}



/*
below CSS adapted from https://css.gg under the MIT License
*/


.menu-button {
    transform: scale(var(--ggs,1))
    
   }
   
   .menu-button,
   .menu-button::after,
   .menu-button::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 3px;
    background: currentColor
   }
   
   .menu-button::after,
   .menu-button::before {
    content: "";
    position: absolute;
    top: -9px;
    left: -2px;
   }
   
   .menu-button::after {
    top: 8px
   } 
.submenu{
    background-color:burlywood;
    position:absolute;
    top:4.5rem;
    right:0;
    padding:0;
    margin:0;
    display: none;
}
.header-menu-Item{
    position: relative;

    height: 2rem;
    flex-grow: 1;
    list-style-type: none;
}

.submenu.active{
    display:initial;
    }




.header-menu-link{
    font-size: 1rem;
    height:100%;
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
}
.header-menu-link:hover,
.header-menu-link:focus{

    color:white;
    background-color:dodgerblue;

}
.main{
    flex: 1;
    overflow-y: auto;
    background-color:papayawhip  ;
}
.main-list{
    grid-template-columns: repeat(12,1fr);
 
     padding:0;
    display:grid;
    list-style-type: none;
}
.main-title{
    font-size:2.8rem;
    margin:3rem;
}
.card-area{

    display:grid;
    list-style-type: none;
        align-items: center; 
    justify-content: center;
}
.main-item{
    background-color: #eeee;
    border: 0.15rem solid #333333; 
    grid-column:span 12;
    padding:1rem;
    margin:0.9rem; 
    margin-top: 0;
    border-radius: 1rem;
    
}
.main-item.active{
    background-color: rgb(47, 7, 250);
}
.card {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.card-title{
    font-size: 2rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.card-pic{
    height:200px;
    width: 200px;
}
.card-text{
    margin:1rem;
}

  
  .text-button {
      background: none;
      border: none;
      color: blue; 
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      font: inherit;
  }
h1{
    margin:0;
}
.register-form{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
    padding: 1rem;
}
.required{
    color: red; 
}
.register-invalidmessage{
    grid-column: span 2;
    color:red;
}
.register-form-invalidname{
    display:none;
}
.register-confirm-error .register-form-invalidname {
display: initial;
}
.register-label{
    grid-column:span 2;
    margin-bottom: 0rem;
   margin-right: 0.5rem;
   
}
.register-input{
    grid-column:span 2;
    margin-bottom: 0.5rem;
}

.register-button{
    grid-column:span 1;
    background-color: lime;
    justify-self:left;
    padding:0.5rem 1.5rem;
    margin-top: 0.5rem;
    font-size:1rem;
}
.Cancle-button{
    grid-column:span 1;
    background-color: lightcoral;
    justify-self:right;
    padding:0.5rem 1.5rem;
    margin-top: 0.5rem;
    font-size:1rem;
}

.footer{
    background-color:burlywood;
    position: relative;
    bottom: 0; 
    width: 100%
}
.footer-menu-list{
    list-style-type: none;
    margin:0;
}
@media(min-width: 44rem){
    .header{
        grid-template-areas: 
        "pic title"
        "URL URL"        ;
        grid-template-columns: auto 1fr auto;
       
        column-gap: 0;
        align-items:center;
        border-bottom: 0.1rem solid black;
    }
    .iconarea{
        grid-area: pic;
    }
    .buttonarea{
        display: none;
    }
    .header-title{
        grid-area: title;
    }
    .submenu,
    .submenu.active{
        grid-area: URL;
        display: flex;
        flex-direction:row;    
        position:initial;     
    }
    
     .header-menu-Item{
        display:flex;
        justify-content: center;
     }
     .header-menu-link:hover,
.header-menu-link:focus{

    color:white;
    background-color:dodgerblue;

   border-radius: 0.5rem;
}
.main-item{
    grid-column:span 4; 
}
.card {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

  
.footer{
    height:5rem;
}
.footer-menu{
    height:100%;
}
 .footer-menu-list{
    height:100%;
    padding:0;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
 }
 .footer-menu-Item{
    grid-column: span 1;
 }

}